<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
  <head th:replace="navbar :: navbar_head"> </head>
  <body>
  <div th:insert="navbar :: navbar_head">...</div>
  <div th:insert="navbar :: navbar_content">...</div>
    <div class="container">
      <div class="container">
        <div style="height: 20px"></div>
        <p align="center"><a href="/admin/movies/add">Добавить фильм</a></p>
        <div>
          <table class="table">
            <thead>
              <tr>
                <th scope="col"> ID</th>
                <th scope="col">Poster</th>
                <th scope="col"> <a th:href="@{'/admin/page/' + ${currentPage} + '?sortField=name&sortDir=' + ${reverseSortDir}}">Название</a> </th>
                <th scope="col"> <a th:href="@{'/admin/page/' + ${currentPage} + '?sortField=genre&sortDir=' + ${reverseSortDir}}">Жанр</a> </th>
                <th scope="col">Release Date</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="movie : ${movies}">
                <td th:text="${movie.id}"></td>
                <td>
                  <img height="20px" width="20px" th:src="@{${movie.poster}}" />
                </td>
                <td><a th:text="${movie.name}" th:href="@{/movies/{id}(id=${movie.getId()})}"></a></td>
                <td th:text="${movie.genre}"></td>
                <td th:text="${movie.releaseDate}"></td>
                <td>
                  <a sec:authorize="hasAnyAuthority('ADMIN', 'PRODUCER')"
                    class="btn btn-danger"
                    th:href="@{/admin/movies/delete/{id}(id=${movie.id})}"
                    >Delete</a
                  >
                  <a sec:authorize="hasAnyAuthority('ADMIN', 'PRODUCER')"
                    class="btn btn-warning"
                    th:href="@{/admin/movies/edit/{id}(id=${movie.id})}"
                    >Edit</a
                  >
                </td>
              </tr>
            </tbody>
          </table>
          <div th:if = "${totalPages > 1}">
            <div>
              <div>
                Всего фильмов: [[${totalItems}]]
              </div>
              <div>
                            <span style="background-color: black;
                                    border: none;
                                    color: white;
                                    padding: 15px 32px;
                                    text-align: center;
                                    text-decoration: none;
                                    display: inline-block;
                                    font-size: 16px;"
                                  th:each="i: ${#numbers.sequence(1,totalPages)}">
                                <a th:if="${currentPage != i}" th:href="@{'/admin/page/' + ${i} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + '&searchKey=' + ${searchKey}}">[[${i}]]"</a>
                                <span th:unless="${currentPage != i}"> [[${i}]] </span>
                            </span>
                <div style="background-color: black;
                        border: none;
                        color: white;
                        padding: 15px 32px;
                        text-align: center;
                        text-decoration: none;
                        display: inline-block;
                        font-size: 16px;">
                  <a th:if="${currentPage < totalPages}" th:href="@{'/admin/page/' + ${currentPage + 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + '&searchKey=' + ${searchKey}}">Next</a>
                  <span th:unless="${currentPage < totalPages}">Next</span>
                </div>

                <div style="background-color: black;
                        border: none;
                        color: white;
                        padding: 15px 32px;
                        text-align: center;
                        text-decoration: none;
                        display: inline-block;
                        font-size: 16px;">
                  <a th:if="${currentPage < totalPages}" th:href="@{'/admin/page/' + ${totalPages}  + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + '&searchKey=' + ${searchKey}}">Last</a>
                  <span th:unless="${currentPage < totalPages}">Last</span>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
