<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
  <head>
    <title>Profile</title>
  </head>
  <body>
  <div th:insert="navbar :: navbar_head">...</div>
  <div th:insert="navbar :: navbar_content">...</div>

    <div class="container">
      <div class="profile_card">
        <div class="profile_card_details" th:object="${user}">
          <div class="info profile_card_details-username">
            <p>Логин: </p>
            <p th:text="${user.username}">Логин</p>
          </div>

          <div class="info profile_card_details-firstname">
            <p>Имя: </p>
            <p th:text="${user.firstName}">Имя</p>
          </div>

          <div class="info profile_card_details-lastname">
            <p>Фамилия: </p>
            <p th:text="${user.lastName}">Фамилия</p>
          </div>

          <div class="info profile_card_details-email">
            <p>Почта: </p>
            <p th:text="${user.email}">Почта</p>
          </div>

          <div class="info profile_card_details-email">
            <p>Счёт: </p>
            <p th:text="${user.money}">Счёт</p>
          </div>


          <a
            sec:authorize="isAuthenticated()"
            th:href="@{'/edit/user/' + ${user.id}}"
          >
            <button
              type="submit"
              class="btn btn-primary btn-sm"
              style="margin-top: 10px"
            >
              Изменить
            </button>
          </a>

          <a
                  sec:authorize="isAuthenticated()"
                  th:href="@{'/edit/money/'}"
          >
            <button
                    type="submit"
                    class="btn btn-primary btn-sm"
                    style="margin-top: 10px"
            >
              Пополнить счёт
            </button>
          </a>
        </div>

        <div class="vertical_line"></div>

        <div class="image_container">
          <img class="profile_card_image" th:src="@{${user.profilePicPath}}" />

          <form
            sec:authorize="isAuthenticated()"
            enctype="multipart/form-data"
            th:action="@{'/edit/user/profile/image/' + ${user.id}}"
            method="POST"
          >
            <input type="file" name="file" />
            <button
              type="submit"
              class="btn btn-primary btn-sm"
              style="margin-top: 10px"
            >
              Подтвердить
            </button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
